.center {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    padding: 2rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.06);
    border-radius: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, 0.212);
}

.error .name {
    color: rgb(53, 53, 53);
}

.error .message {
    color: rgb(95, 95, 95);
}

.imgContainer {
    height: 4rem;
    width: 4rem;
}

.return {
    margin-top: 1rem;
    display: flex;
    color: rgb(31, 31, 31);
    transition: background-color .6s, box-shadow .6s;
}

.return:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.062);
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, 0.13);
}

.return div {
    height: 1.2rem;
    width: 1.2rem;
    margin: auto 0;
    margin-right: .2rem;
}