.center {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    padding: 2rem;
}

.form {
    border-radius: 1rem;
    padding: 2rem;
    min-width: 25rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, 0.212);
}

.form input {
    margin: .5rem 0;
    font-size: large;
    border-radius: 1.5rem;
    padding: .5rem;
    border-width: 1px;
    text-align: center;
    transition: box-shadow .5s;
}

.form input:hover {
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, 0.24);
}

.form input:focus {
    outline: none;
}

.form .submit {
    margin-top: 1rem;
    padding: .5rem;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 1.5rem;
    min-width: 10rem;
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, 0.4);
    transition: box-shadow .5s, background-color .5s;
}

.form .submit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, .6);
}

.form .submit:active {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 18px 1px rgba(0, 0, 0, .8);
    
}

.form .submit:focus {
    outline: none;
}

.failed {
    color: rgb(201, 5, 5);
}